@import "./variables.css";
@import "./reset.css";
@import "./utils/breakpoints.css";
@import "./utils/screen-readers.css";
@import "./utils/typography.css";

*:focus {
	outline: none;
}

*:focus-visible {
	outline: 0.2rem solid var(--color-primary);
	outline-offset: 0.2rem;
}

body {
	background: var(--color-bg);
	color: var(--color-text);
	font-family: Helvetica, sans-serif;
	min-height: 100vh;
	padding: var(--padding-medium);

	@media (min-width: 48em) {
		padding: var(--padding-big)
	}
}