:root {
	--color-bg: #292e1e;
	--color-primary: #AFBBF2;
	--color-secondary: #F0B7B3;
	--color-royal: #7F0799; /* Do not use as text, it is not accessible */
	--color-text: #e8f5e9;

	--radius: .8rem;

	--padding-small: .8rem;
	--padding-medium: 1.6rem;
	--padding-big: 2.8rem;

	--gap-small: .8rem;
	--gap: 1.6rem;
	--gap-big: 2.8rem;
}